version: '3.3'

services:
  ks-rewards:
    build: .
    container_name: ks-rewards
    user: "0:0"
    ports:
      - "3001:3000"
    volumes:
      - ./data:/app/data
      - ./backups:/app/backups
    env_file:
      - .env.production
    restart: unless-stopped